{% extends "page.html" %}
{% block subtitle %}{{ _('Contact') }}{% endblock %}
{% block breadcrumb_content %}
  <li class="active"><a href="#">{{ _('Contact') }}</a></li>
{% endblock %}


{% block secondary_content %}
<section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="icon-medium icon-info-sign"></i>Národná agentúra pre sieťové a elektronické služby</h2>
    <div class="module-content">
<p>
Kollárova 8 <br/>
917 02 Trnava 
</p>
<p><b>{{_('Field office')}}:</b><br />
Národná agentúra pre sieťové a elektronické služby <br />
BC Omnipolis <br />
Trnavská cesta 100/II<br />
821 01 BRATISLAVA
</p><p>
<b>e-mail:</b>
<br />
info@nases.gov.sk <br />
<b>IČO:</b><br/>    42156424</p>
<p>
<b>Tel.:</b> +421 2 3278 0700</p>
	</div>
</section>
{% endblock %}

{% block primary_content %}
<article class="module">
    <div class="module-content">
    	<h1 class="contact_us">{{_('Contact')}}</h1>
	<p>{{_('In case you need help concerning the use of the portal or if you are willing to share your ideas/opinion on how to improve the functionality and information content of Central Government Portal, feel free to contact our Central Customer Service. Our professionally trained operators will gladly serve your needs.')}}</p>	   
<p><b>{{_('Central customer service')}}</b><br> {{_('You can reach us by phone at the phone number +421 2 35 803 083 from Monday to Friday, from 08:00 a.m. to 06:00 p.m.')}}</p>
<p>{{_('Phone calls made to Central customer service are subject to the charges of telecommunication operators providing landline service. Calling to Central customer service is not a subject to special charges.')}}</p>
<p><b>{{_('Contact us by Contact Form')}}</b><br> {{_('You can reach us about your problems, concerns, and suggestions by filling in our')}} <a href="https://helpdesk.slovensko.sk/new-incident/">{{_('Contact Form')}}</a>. {{_('Please make sure that your contact data is correct before you send your message.')}}</p>
<p>{{_('Provider and webmaster of www.slovensko.sk is')}} <a href="http://nases.gov.sk/13605/kontakt.php">Národná agentúra pre sieťové a elektronické služby.</a></p>

	</div>

</article>
{% endblock %}


    



